* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans', sans-serif; 
}

#root {
    margin: 5rem auto;
    max-width: 700px;
    font-size: 20px;
}

.add-todo {
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 500px;
}

#todo-text,
#add-btn {
    padding: .5rem 1rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: .7em;
}

#todo-text {
    flex-grow: 100000;
}

#add-btn {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #EFEFEF;
    cursor: pointer;
}

.todo-list {
    padding: 2rem;
    background-color: #F5F7F7;
    border-radius: .7em;
}

.todo-list li{
    padding: .7rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
}

.todo-list li .fa-times {
    font-weight: bold;
}

.todo-list li:hover {
    background-color: white;
}
